
svg {
  stroke-width: 2;
  stroke-linecap: round;
  stroke-linejoin: round;
}

#background {
  filter: url(common.svg#shadow);
}

#foreground {
  fill:   hsl(  0,   0%, 100%);
}

/* Colors */

.white {
  fill:   hsl(  0,   0%,  90%);
  stroke: hsl(  0,   0%,  70%);
}

.gray {
  fill:   hsl(  0,   0%,  55%);
  stroke: hsl(  0,   0%,  35%);
}

.black {
  fill:   hsl(  0,   0%,  20%);
  stroke: hsl(  0,   0%,   0%);
}
